<!--
  Launch file to execute two drivers for hong and kong in different namespaces
  using ros_control.

  Also launches the moveit planning execution and rviz to plan and execute
  trajectories.

  Adjust the ip addresses of the two robots in the argument section. Note that
  the choice of prefix owes to that used in combined urdf for the two robots.
  The namespace choice should be reflected in controller.yaml in
  ur10_dual_arm_moveit_config/config.

  Note to self: Check to see if joint state remapping required

  Using upload.launch and moveit config that I created for gazebo.


  PLANNING SUCCESSFUL BUT THE ROBOT ARM JUST DOES NOT MOVE
-->

<launch>

    <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <!-- Arguments for robot hong -->
    <arg name="ip_hong" default="192.168.1.102"/>
    <arg name="prefix_hong" default="hong_" />
    <arg name="min_payload_hong"  default="0.0"/>
    <arg name="max_payload_hong"  default="10.0"/>
    <arg name="max_velocity_hong" default="10.0"/> <!-- [rad/s] -->



    <!-- Arguments for robot kong-->
    <arg name="ip_kong" default="192.168.1.10"/>
    <arg name="prefix_kong" default="kong_" />
    <arg name="min_payload_kong"  default="0.0"/>
    <arg name="max_payload_kong"  default="10.0"/>
    <arg name="max_velocity_kong" default="10.0"/> <!-- [rad/s] -->



    <include file="$(find ur10_cm)/launch/dual_arm_hong_kong_gazebo_upload.launch"/>


    <group ns= "ns_hong">

      <remap from="joint_states" to="/joint_states"/>


      <node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="log" launch-prefix="$(arg launch_prefix)">
        <param name="robot_ip_address" type="str" value="$(arg ip_hong)"/>
        <param name="min_payload" type="double" value="$(arg min_payload_hong)"/>
        <param name="max_payload" type="double" value="$(arg max_payload_hong)"/>
        <param name="max_velocity" type="double" value="$(arg max_velocity_hong)"/>
        <param name="use_ros_control" type="bool" value="True"/>
        <param name="prefix" value="$(arg prefix_hong)" />
        <param name="servoj_gain" type="double" value="750" />

      </node>


      <rosparam file="$(find ur10_cm)/config/hong_dual_arm_controllers.yaml" command="load"/>

      <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="hong_joint_state_controller hong_force_torque_sensor_controller hong_pos_based_pos_traj_controller" />

      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    </group>


    <group ns= "ns_kong">

      <remap from="joint_states" to="/joint_states"/>


      <node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="reverse_port" type="int" value="5002"/>
        <param name="robot_ip_address" type="str" value="$(arg ip_kong)"/>
        <param name="min_payload" type="double" value="$(arg min_payload_kong)"/>
        <param name="max_payload" type="double" value="$(arg max_payload_kong)"/>
        <param name="max_velocity" type="double" value="$(arg max_velocity_kong)"/>
        <param name="use_ros_control" type="bool" value="True"/>
        <param name="prefix" value="$(arg prefix_kong)" />
        <param name="servoj_gain" type="double" value="750" />

      </node>

      <rosparam file="$(find ur10_cm)/config/kong_dual_arm_controllers.yaml" command="load"/>


      <!-- spawn controller manager -->
      <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="kong_joint_state_controller kong_force_torque_sensor_controller kong_pos_based_pos_traj_controller" />

      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    </group>

</launch>
