<!--
  Launch file to execute two drivers for hong and kong in different namespaces.
  Also launches the moveit planning execution and rviz to plan and execute
  trajectories.

  Adjust the ip addresses of the two robots in the argument section. Note that
  the choice of prefix owes to that used in combined urdf for the two robots.
  The namespace choice should be reflected in controller.yaml in
  ur10_dual_arm_moveit_config/config.

  Note to self: Check to see if joint state remapping required
-->

<launch>

    <!-- Arguments for robot hong -->
    <arg name="ip_hong" default="143.89.192.15"/>
    <arg name="prefix_hong" default="hong_" />
    <arg name="min_payload_hong"  default="0.0"/>
    <arg name="max_payload_hong"  default="10.0"/>

    <!-- Arguments for robot kong-->
    <arg name="ip_kong" default="143.89.192.3"/>
    <arg name="prefix_kong" default="kong_" />
    <arg name="min_payload_kong"  default="0.0"/>
    <arg name="max_payload_kong"  default="10.0"/>

    <!-- Including File ...upload.launch: sets robot_description parameter -->
    <include file="$(find ur10_cm)/launch/dual_arm_hong_kong_gazebo_upload.launch"/>


    <!-- Setting up namespace for hong_ur10 -->
    <group ns="ns_hong">

      <!--remap from="joint_states" to="/joint_states"/-->

      <include file="$(find ur_modern_driver)/launch/ur_common.launch">
        <arg name="robot_ip" value="$(arg ip_hong)"/>
        <arg name="prefix" value="$(arg prefix_hong)"/>
        <arg name="min_payload" value="$(arg min_payload_hong)"/>
        <arg name="max_payload" value="$(arg max_payload_hong)"/>
      </include>

    </group>


    <!-- Setting up namespace for kong_ur10 -->
    <group ns="ns_kong">

      <param name="ur_driver/reverse_port" type="int" value="5002"/>
      <!--remap from="joint_states" to="/joint_states"/-->

      <include file="$(find ur_modern_driver)/launch/ur_common.launch">
        <arg name="robot_ip" value="$(arg ip_kong)"/>
        <arg name="prefix" value="$(arg prefix_kong)"/>
        <arg name="min_payload" value="$(arg min_payload_kong)"/>
        <arg name="max_payload" value="$(arg max_payload_kong)"/>
      </include>

    </group>


    <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
        <rosparam param="source_list">[ns_hong/joint_states, ns_kong/joint_states]</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <param name="trajectory_execution/allowed_start_tolerance" value="0.0"/>
    <include file="$(find ur10_dual_arm_gazebo_moveit_config)/launch/ur10_dual_arm_moveit_planning_execution.launch"/>
    <include file="$(find ur10_dual_arm_gazebo_moveit_config)/launch/moveit_rviz.launch"/>



    <!-- <node name="cone_manipuland" pkg="ur10_cm" type="cone_pose_visualization.py"/> -->



</launch>
